body {
    background-color: #f8f9fa;
}

.card-header h3 {
    margin-bottom: 0;
}

.table th, .table td {
    vertical-align: middle;
}

.btn-group-sm > .btn {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-select {
    color: #6c757d;
}

.form-select:invalid {
    color: #6c757d;
}

option[value=""][disabled] {
    display: none;
}

